.faceBox {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.concepts {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  color: #fff;
  background: #149df2;
  font-size: 14px;
}
